(
    layout: Manual({
        '!': URect(min: (1, 0), max: (5, 8)),
        '"': URect(min: (6, 0), max: (13, 8)),
        '#': URect(min: (14, 0), max: (23, 8)),
        '$': URect(min: (24, 0), max: (31, 8)),
        '%': URect(min: (32, 0), max: (42, 8)),
        '&': URect(min: (43, 0), max: (52, 8)),
        '\'': URect(min: (53, 0), max: (57, 8)),
        '(': URect(min: (58, 0), max: (63, 8)),
        ')': URect(min: (64, 0), max: (69, 8)),
        '*': URect(min: (70, 0), max: (76, 8)),
        '+': URect(min: (77, 0), max: (85, 8)),
        ',': URect(min: (86, 0), max: (91, 8)),
        '-': URect(min: (92, 0), max: (98, 8)),
        '.': URect(min: (99, 0), max: (103, 8)),
        '/': URect(min: (104, 0), max: (110, 8)),
        '0': URect(min: (1, 9), max: (8, 17)),
        '1': URect(min: (9, 9), max: (13, 17)),
        '2': URect(min: (14, 9), max: (21, 17)),
        '3': URect(min: (22, 9), max: (29, 17)),
        '4': URect(min: (30, 9), max: (37, 17)),
        '5': URect(min: (38, 9), max: (45, 17)),
        '6': URect(min: (46, 9), max: (53, 17)),
        '7': URect(min: (54, 9), max: (61, 17)),
        '8': URect(min: (62, 9), max: (69, 17)),
        '9': URect(min: (70, 9), max: (77, 17)),
        ':': URect(min: (1, 18), max: (5, 26)),
        ';': URect(min: (6, 18), max: (10, 26)),
        '<': URect(min: (11, 18), max: (17, 26)),
        '=': URect(min: (18, 18), max: (24, 26)),
        '>': URect(min: (25, 18), max: (31, 26)),
        '?': URect(min: (32, 18), max: (40, 26)),
        '@': URect(min: (41, 18), max: (49, 26)),
        'A': URect(min: (1, 27), max: (8, 35)),
        'B': URect(min: (9, 27), max: (16, 35)),
        'C': URect(min: (17, 27), max: (24, 35)),
        'D': URect(min: (25, 27), max: (32, 35)),
        'E': URect(min: (33, 27), max: (40, 35)),
        'F': URect(min: (41, 27), max: (48, 35)),
        'G': URect(min: (49, 27), max: (56, 35)),
        'H': URect(min: (57, 27), max: (64, 35)),
        'I': URect(min: (65, 27), max: (69, 35)),
        'J': URect(min: (70, 27), max: (77, 35)),
        'K': URect(min: (78, 27), max: (85, 35)),
        'L': URect(min: (86, 27), max: (93, 35)),
        'M': URect(min: (94, 27), max: (103, 35)),
        'N': URect(min: (1, 36), max: (9, 44)),
        'O': URect(min: (10, 36), max: (17, 44)),
        'P': URect(min: (18, 36), max: (25, 44)),
        'Q': URect(min: (26, 36), max: (34, 44)),
        'R': URect(min: (35, 36), max: (42, 44)),
        'S': URect(min: (43, 36), max: (50, 44)),
        'T': URect(min: (51, 36), max: (59, 44)),
        'U': URect(min: (60, 36), max: (67, 44)),
        'V': URect(min: (68, 36), max: (75, 44)),
        'W': URect(min: (76, 36), max: (85, 44)),
        'X': URect(min: (86, 36), max: (93, 44)),
        'Y': URect(min: (94, 36), max: (102, 44)),
        'Z': URect(min: (103, 36), max: (110, 44)),
        '[': URect(min: (1, 45), max: (6, 53)),
        '\\': URect(min: (8, 45), max: (13, 53)),
        ']': URect(min: (14, 45), max: (19, 53)),
        '^': URect(min: (20, 45), max: (28, 53)),
        '_': URect(min: (29, 45), max: (35, 53)),
        '`': URect(min: (36, 45), max: (41, 53)),
        '{': URect(min: (42, 45), max: (47, 53)),
        '|': URect(min: (48, 45), max: (52, 53)),
        '}': URect(min: (53, 45), max: (58, 53)),
        '~': URect(min: (59, 45), max: (67, 53)),
    }),
    image: "example_variable_width_font.png",
)
