body {
  background-color: #0238f9;
}
.root > img {
  width: 100%;
}

.komagire-wrap {
  display: flex;
}

.komagire-wrap > img {
  width: 33.33333%;
  height: 100%;
}


html, body, .root {
  width: 100%;
}

@media (min-width: 768px) {
.root {
  width: 768px;
  margin-left: calc(50vw - 768px / 2);
}
}
