*/build/
*.o
*.wasm
*.a
*.lo
jpeg-9f/Makefile
jpeg-9f/.deps
jpeg-9f/.libs
jpeg-9f/cjpeg
jpeg-9f/config.log
jpeg-9f/config.status
jpeg-9f/djpeg
jpeg-9f/jconfig.h
jpeg-9f/jpegtran
jpeg-9f/libjpeg.la
jpeg-9f/libjpeg.pc
jpeg-9f/libtool
jpeg-9f/rdjpgcom
jpeg-9f/stamp-h1
jpeg-9f/wrjpgcom
hts_engine_api-1.10/Makefile
hts_engine_api-1.10/bin/.deps/
hts_engine_api-1.10/bin/Makefile
hts_engine_api-1.10/bin/hts_engine
hts_engine_api-1.10/config.log
hts_engine_api-1.10/config.status
hts_engine_api-1.10/lib/.deps/
hts_engine_api-1.10/lib/Makefile
